# Handling Missing Data in PySpark HW Solutions

In this HW assignment you will be strengthening your skill sets dealing with missing data.
 
**Review:** you have 2 basic options for filling in missing data (you will personally have to make the decision for what is the right approach:

1. Drop the missing data points (including the entire row)
2. Fill them in with some other value.

Let's practice some examples of each of these methods!


#### But first!

Start your Spark session

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("nulls").getOrCreate()
core = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
print("You are working with {} core(s).".format(core))

spark

You are working with 1 core(s).

## Read in the dataset for this Notebook

Weather.csv attached to this lecture.

In [4]:
path = '../data/Weather.csv'

weather = spark.read.csv(path,inferSchema=True,header=True)

## About this dataset

**New York City Taxi Trip - Hourly Weather Data**

Here is some detailed weather data for the New York City Taxi Trips.

**Source:** https://www.kaggle.com/meinertsen/new-york-city-taxi-trip-hourly-weather-data

### Print a view of the first several lines of the dataframe to see what our data looks like

In [5]:
weather.limit(5).toPandas()

,pickup_datetime,tempm,tempi,dewptm,dewpti,hum,wspdm,wspdi,wgustm,wgusti,...,precipm,precipi,conds,icon,fog,rain,snow,hail,thunder,tornado
0,2015-12-31 00:15:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.5,0.02,Light Rain,rain,0,1,0,0,0,0
1,2015-12-31 00:42:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
2,2015-12-31 00:51:00,7.8,46.0,6.1,43.0,89.0,5.6,3.5,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
3,2015-12-31 01:51:00,7.2,45.0,5.6,42.1,90.0,7.4,4.6,NaN,NaN,...,0.3,0.01,Overcast,cloudy,0,0,0,0,0,0
4,2015-12-31 02:51:00,7.2,45.0,5.6,42.1,90.0,0.0,0.0,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0

### Print the schema 

So that we can see if we need to make any corrections to the data types.

In [6]:
weather.printSchema()

root
 |-- pickup_datetime: string (nullable = true)
 |-- tempm: double (nullable = true)
 |-- tempi: double (nullable = true)
 |-- dewptm: double (nullable = true)
 |-- dewpti: double (nullable = true)
 |-- hum: double (nullable = true)
 |-- wspdm: double (nullable = true)
 |-- wspdi: double (nullable = true)
 |-- wgustm: double (nullable = true)
 |-- wgusti: double (nullable = true)
 |-- wdird: integer (nullable = true)
 |-- wdire: string (nullable = true)
 |-- vism: double (nullable = true)
 |-- visi: double (nullable = true)
 |-- pressurem: double (nullable = true)
 |-- pressurei: double (nullable = true)
 |-- windchillm: double (nullable = true)
 |-- windchilli: double (nullable = true)
 |-- heatindexm: double (nullable = true)
 |-- heatindexi: double (nullable = true)
 |-- precipm: double (nullable = true)
 |-- precipi: double (nullable = true)
 |-- conds: string (nullable = true)
 |-- icon: string (nullable = true)
 |-- fog: integer (nullable = true)
 |-- rain: integer (nullable = true)
 |-- snow: integer (nullable = true)
 |-- hail: integer (nullable = true)
 |-- thunder: integer (nullable = true)
 |-- tornado: integer (nullable = true)

## 1. How much missing data are we working with?

Get a count and percentage of each variable in the dataset to answer this question.

In [41]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [40]:
#get number of nulls in each column
#1

def count_null(df):
    num_of_null = Row([*(df.filter(col(c).isNull()).count() for c in df.columns)])
    null_df = spark.createDataFrame(num_of_null,df.columns)
    
    return null_df

null_df = count_null(weather)
null_df.toPandas()

,pickup_datetime,tempm,tempi,dewptm,dewpti,hum,wspdm,wspdi,wgustm,wgusti,...,precipm,precipi,conds,icon,fog,rain,snow,hail,thunder,tornado
0,0,5,5,5,5,5,737,737,8605,8605,...,8775,8775,0,0,0,0,0,0,0,0

In [43]:
#2

def null_value_calculator(df):
    null_columns_counts = []
    numRows = df.count()
    for c in df.columns:
        nullRows = df.where(col(c).isNull()).count()
        if(nullRows >0):
            temp= c,nullRows, (nullRows/numRows)*100
            null_columns_counts.append(temp)
    
    dataframe = spark.createDataFrame(null_columns_counts,["Col_name","num_null","percentage"])
    return dataframe.toPandas()

null_value_calculator(weather)

      Col_name  num_null  percentage
0        tempm         5    0.047705
1        tempi         5    0.047705
2       dewptm         5    0.047705
3       dewpti         5    0.047705
4          hum         5    0.047705
5        wspdm       737    7.031772
6        wspdi       737    7.031772
7       wgustm      8605   82.100945
8       wgusti      8605   82.100945
9         vism       245    2.337563
10        visi       245    2.337563
11   pressurem       239    2.280317
12   pressurei       239    2.280317
13  windchillm      7775   74.181853
14  windchilli      7775   74.181853
15  heatindexm      9644   92.014121
16  heatindexi      9644   92.014121
17     precipm      8775   83.722927
18     precipi      8775   83.722927

## 2. How many rows contain at least one null value?

We want to know, if we use the df.na option, how many rows will we loose.

In [55]:
total = weather.count()
null_total = total - weather.dropna().count()
print(total,null_total)

#meaning, every row has null value.

10481 10481

## 3. Drop the missing data

Drop any row that contains missing data across the whole dataset

In [60]:
weather.na.drop(how='any').count()

0

## 4. Drop with a threshold

Count how many rows would be dropped if we only dropped rows that had a least 12 NON-Null values

In [59]:
weather.na.drop(thresh=12).count()

10476

## 5. Drop rows according to specific column value

Now count how many rows would be dropped if you only drop rows whose values in the tempm column are null/NaN

In [62]:
weather.dropna(subset=['tempm']).count()

10476

## 6. Drop rows that are null accross all columns

Count how many rows would be dropped if you only dropped rows where ALL the values are null

In [64]:
weather.dropna(how='all').count()

10481

## 7. Fill in all the string columns missing values with the word "N/A"

Make sure you don't edit the df dataframe itself. Create a copy of the df then edit that one.

In [72]:
weather.fillna("N/A").toPandas()

,pickup_datetime,tempm,tempi,dewptm,dewpti,hum,wspdm,wspdi,wgustm,wgusti,...,precipm,precipi,conds,icon,fog,rain,snow,hail,thunder,tornado
0,2015-12-31 00:15:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.5,0.02,Light Rain,rain,0,1,0,0,0,0
1,2015-12-31 00:42:00,7.8,46.0,6.1,43.0,89.0,7.4,4.6,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
2,2015-12-31 00:51:00,7.8,46.0,6.1,43.0,89.0,5.6,3.5,NaN,NaN,...,0.8,0.03,Overcast,cloudy,0,0,0,0,0,0
3,2015-12-31 01:51:00,7.2,45.0,5.6,42.1,90.0,7.4,4.6,NaN,NaN,...,0.3,0.01,Overcast,cloudy,0,0,0,0,0,0
4,2015-12-31 02:51:00,7.2,45.0,5.6,42.1,90.0,0.0,0.0,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2016-12-31 19:51:00,6.1,43.0,-4.4,24.1,47.0,7.4,4.6,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10477,2016-12-31 20:51:00,6.1,43.0,-4.4,24.1,47.0,13.0,8.1,38.9,24.2,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10478,2016-12-31 21:51:00,6.1,43.0,-5.0,23.0,45.0,9.3,5.8,29.6,18.4,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10479,2016-12-31 22:51:00,6.7,44.1,-5.0,23.0,43.0,14.8,9.2,NaN,NaN,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0
10480,2016-12-31 23:51:00,6.7,44.1,-4.4,24.1,45.0,7.4,4.6,25.9,16.1,...,NaN,NaN,Overcast,cloudy,0,0,0,0,0,0

In [71]:
avg

0

## 8. Fill in NaN values with averages for the tempm and tempi columns

*Note: you will first need to compute the averages for each column and then fill in with the corresponding value.*

In [97]:
weather.filter(col("tempm").isNull()).count()

5

In [98]:
weather.filter(col("tempi").isNull()).count()

5

In [107]:
def fill_with_mean(df,include=set()):
    #gonna get a set from the second argumnet
    avgs = df.agg(*(avg(c).alias(c) for c in include))  #changing name is handy way to specify coloumns
    return df.fillna(avgs.first().asDict(),subset=[*include]) #take the first row and as it is 'Row'type, you can change its type to dict.

fill_with_mean(weather,["tempm","tempi"]).filter(col('tempm').isNull() & col('tempi').isNull()).count()

       tempm      tempi
0  13.705622  56.670151

0

### That's it! Great Job!